.to-do--add-button {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../assets/iconplus.png");
  background-size: contain;
}
.to-do--add-button:hover {
  filter: opacity(0.8) drop-shadow(0 0 0 green);
  cursor: pointer;
}
